
.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.con{
    background-color: rgb(29, 29, 29);
    overflow-x:hidden;
}

@keyframes login{
    0%{filter: brightness(100%);}
    50%{filter: brightness(400%);}
    100%{filter: brightness(100%);}
}

.main-box-radio , .main-all{
    background-color: rgb(29, 29, 29);
}

.head-bar-radio{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: rgb(29, 29, 29);
    border-bottom: 1px solid rgb(175, 175, 175);
    width: 100%;
}

.btn-res{
    grid-row: 1/4;
    grid-column: 5/7;
    width: 100%; height: 7vh;
    /* visibility: visible;
    opacity: 1; */
}

.offcanvas{
    background-color: black;
}

.btn-search-radio{
    grid-row: 1/6;
    grid-column: 1/2;
    background-color: rgb(29, 29, 29);
    border: 0;
    border-left:1px solid rgb(175, 175, 175);
    border-radius: 15px;
    background-image: url('./pic/sr.svg');
    background-position: center;
    background-size: cover;
}

.search-radio-conatain{
    grid-column: 1/5;
    justify-self: start;
    align-self: center;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1vh);
    width: 100%; height: 7vh;
    border-radius: 15px;
    background-color: transparent;
}

.fa-search{
    color: rgb(175, 175, 175);
    grid-column: 1/2;
    grid-row: 1/8;
    justify-self: center;
    align-self: center;
    font-size: 20px;
}

.search-radio{
    grid-column: 1/7;
    grid-row: 1/8;
    background-color: transparent;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 25px;
    min-width: 400px; min-height: 43px;
    color: #fff;
}

.search-radio::placeholder{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
}

.login-contain-radio{
    grid-column: 8/9;
    grid-row: 1/4;
    /* width: 100%; height: 7vh; */
    border: 0;
}

.login-btn-radio{
    padding: 5px 25px 5px 25px;
    background-color: rgb(56, 56, 56);
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    border: 0;
    animation-name: login;
    animation-iteration-count: 5;
    animation-duration: 2s;
    min-width: 110px; min-height: 43.5px;
}

.fa-fingerprint{
    grid-row: 1/3;
    grid-column: 1/2;
    align-self: center;
    justify-self: start;
    margin-left: 5px;
    font-size: 15px;    
    color: rgb(175, 175, 175);
    position: sticky;
}

.link-login-radio{
    grid-column: 2/4;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.tv-sign{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column: 7/8;
    grid-row: 1/4;
    height: 100%;
    background-color: transparent;
    border: 0;
}

.fa-television{
    color: rgb(175, 175, 175);
    font-size: 15px;
    grid-row: 1/4;
    grid-column: 1/4;
    justify-self: end;
    align-self: center;
}

/* playlist */

.text-playlist{
    font-size: 22px;
    font-weight: bolder;
}

.playlist-contain-radio{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,max-content);
}

.ps1{
    grid-column: 1/2;
    grid-row: 1/4;
}

.ps2{
    grid-column: 2/3;
    grid-row: 1/4;
}

.ps3{
    grid-column: 3/4;
    grid-row: 1/4;
}

.ps4{
    grid-column: 4/5;
    grid-row: 1/4;
}

.playlist-sec{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 45vh;
    transition: 0.3s;
}

.playlist-sec:hover .playlist-pic{
    opacity: 0.5;
    transform: translateY(-5px);
    cursor: pointer;
}

.playlist-sec:hover .name-playlist-radio a{
    color: rgb(197, 0, 0);
    font-weight: bolder;

}

.playlist-sec:hover .fa-headphones{
    color: rgb(197, 0, 0);
    transform: rotate(360deg);
}

.playlist-pic{
    grid-row: 1/5;
    grid-column: 1/6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: 0.3s;
}


.name-playlist-radio{
    grid-row: 5/6;
    grid-column: 1/5;
    justify-self: start;
    align-self: center;
}

.name-playlist-radio a{
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.name-playlist-radio a:hover{
    color:rgb(197, 0, 0);
    font-weight: bolder;
}

.pic1{
    background-image: url('./pic/ps1.png');
}

.pic2{
    background-image: url('./pic/ps2.png');
}

.pic3{
    background-image: url('./pic/ps3.png');
}

.pic4{
    background-image: url('./pic/ps4.png');
}

.fa-headphones{
    grid-row: 5/6;
    grid-column: 5/6;
    color: rgb(255, 255, 255);
    align-self: center;
    justify-self: end;
    transition: 0.3s;
}

.btn-hover-playlist1{
    grid-row: 4/5;
    grid-column: 1/2;
    z-index: 200;
    border-radius: 100%;
    width: 30px; height: 30px;
    justify-self: end;
    align-self: start;
    border: 0;
    background-color: rgb(197, 0, 0);
    background-image: url('./pic/play-1003-svgrepo-com.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px; 
    visibility: hidden;
    opacity: 0;
}

.btn-hover-playlist2{
    grid-row: 4/5;
    grid-column: 2/3;
    z-index: 200;
    width: 30px; height: 30px;
    justify-self: center;
    align-self: start;
    border: 0;
    border-radius: 100%;background-color: rgba(255, 255, 255, 0.096);
    filter: blur(500%);
    background-image: url('./pic/star-svgrepo-com.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px; 
    visibility: hidden;
    opacity: 0;
}

.btn-hover-playlist3{
    grid-row: 4/5;
    grid-column: 3/4;
    z-index: 200;
    width: 30px; height: 30px;
    justify-self: start;
    align-self: start;
    border: 0;
    border-radius: 100%;background-color: rgba(255, 255, 255, 0.329);
    filter: blur(500%);
    background-image: url('./pic/three-dots-line-svgrepo-com.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px; 
    visibility: hidden;
    opacity: 0;
}

.playlist-sec:hover .btn-hover-play{
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

/* fetuater */

.text-feutared-radio{
    font-size: 22px;
    font-weight: bolder;
}

.feutared-image{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(10,1fr);
    background-image: url('./pic/feu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    border-radius: 5px;
    z-index: 100;
    transition: 0.3s;
}

.btn-hover-featured1{
    grid-row: 10/11;
    grid-column: 1/2;
    z-index: 200;
    border-radius: 100%;
    width: 30px; height: 30px;
    justify-self: end;
    align-self: start;
    border: 0;
    background-color: rgb(197, 0, 0);
    background-image: url('./pic/play-1003-svgrepo-com.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px; 
    visibility: hidden;
    opacity: 0;
}

.btn-hover-featured2{
    grid-row: 10/11;
    grid-column: 2/3;
    z-index: 200;
    border-radius: 100%;
    width: 30px; height: 30px;
    justify-self: center;
    align-self: start;
    border: 0;
    border-radius: 100%;background-color: rgba(255, 255, 255, 0.329);
    filter: blur(500%);
    background-image: url('./pic/heart-svgrepo-com.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px; 
    visibility: hidden;
    opacity: 0;
}

.btn-hover-featured3{
    grid-row: 10/11;
    grid-column: 3/4;
    z-index: 200;
    border-radius: 100%;
    width: 30px; height: 30px;
    justify-self: start;
    align-self: start;
    border: 0;
    border-radius: 100%;background-color: rgba(255, 255, 255, 0.329);
    filter: blur(500%);
    background-image: url('./pic/three-dots-line-svgrepo-com.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px; 
    visibility: hidden;
    opacity: 0;
}


.feutared-image:hover{
    background-image: linear-gradient(to bottom , rgba(255, 255, 255, 0) , rgba(0, 0, 0, 0.801) 70%), url('./pic/feu.png');
    opacity: 0.9;
    cursor: pointer;
    transition: 0.3s;
    .btn-hoverfea{
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
    }
}

.name-featured{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
}

.link-fea1{
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: 0.1s;
    font-size: 20px;
}

.name-music{
    grid-column: 1/3;
    grid-row: 1/2;
    align-self:end;
}

.link-fea2{
    color: grey;
    font-size: 15px;
}

.name-band{
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: start;
}

.name-fea:hover{
    color: rgb(197, 0, 0);
}

/* stories */

.text-stories-radio{
    color: #fff;
    font-size: 22px;
    font-weight: bolder;
}

.stories-contain-radio{
    
}

.styories-sec{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
}

.styories-sec{
    grid-column-gap: 12px;
    height: 12vh;
}

.stories-pic{
    background-color: aqua;
    border-radius: 100%;
    grid-row: 1/4;
    width: 90%; height: 90%;
    background-image: url('./pic/story.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* exclusive */

.text-exclusive{
    font-size: 25px;
    font-weight: bolder;
}

.exclusive-sec{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 45vh;
    grid-row-gap: 7px;
}

.exclusive-pic{
    grid-column: 1/6;
    grid-row: 1/5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    transition: 0.3s;
}

.name-exclusive{
    grid-column: 1/6;
    grid-row: 5/6;
    display: block;
    justify-self: start;
    align-self: start;
    
}

.name-exclusive2{
    grid-column: 1/6;
    grid-row: 5/6;
    display: block;
    justify-self: start;
    align-self: end;
    
}

.link-exclusive{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.1s;
}

.link-exclusive2{
    text-decoration: none;
    color: gray;
    font-size: 15px;
}

.phone2{
    align-self: start;
    transition: 0.3s;
}

.exclusive-sec:hover{
    
    .exclusive-pic{
        opacity: 0.5;
        transform: translateY(-5px);
        cursor: pointer;
    }

    .link-exclusive{
        font-weight: bolder;
        color: rgb(197, 0, 0);
    }

    .phone2{
        transform: rotate(360deg);
        color: rgb(197, 0, 0);
    }

    .btn-hover-play{
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
    }

}



.ep1{
    background-image: url('./pic/ep1.png');
}

.ep2{
    background-image: url('./pic/ep2.png');
}

.ep3{
    background-image: url('./pic/ep3.png');
}

.ep4{
    background-image: url('./pic/ep4.png');
}

/* new music */

.text-newmusic{
    font-size: 22px;
    font-weight: bolder;
}

.newmusic-sec{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 45vh;
}

.newmusic-pic{
    grid-column: 1/6;
    grid-row: 1/5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
    border-radius: 5px;
}

.name-newmusic{
    grid-column: 1/6;
    grid-row: 5/6;
    justify-self: start;
    align-self: center;
    text-decoration: none;
    transition: 0.3s;
}

.link-newmusic{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.phone3{
    justify-self: end;
    align-self: center;
}

.np1{
    background-image: url('./pic/np1.png');
}

.np2{
    background-image: url('./pic/np2.png');
}

.np3{
    background-image: url('./pic/np3.png');
}

.np4{
    background-image: url('./pic/np4.png');
}

.newmusic-sec:hover{
    .newmusic-pic{
        opacity: 0.5;
        transform: translateY(-5px);
        cursor: pointer;
    }

    .link-newmusic{
        color: rgb(197, 0, 0);
        font-weight: bolder;
    }

    .phone3{
        transform: rotate(360deg);
        color: rgb(197, 0, 0);
    }

    .btn-hover-play{
        visibility: visible;
        opacity: 1;
    }

}

/* dj-mix */

.text-dj-mix{
    font-size: 22px;
    font-weight: bolder;
    color: #fff;
}

.dj-mix-sec{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 45vh;
    grid-row-gap: 7px;
}

.dj-mix-pic{
    grid-column: 1/6;
    grid-row: 1/5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
    border-radius: 5px;
}

.name-dj-mix1{
    grid-column: 1/6;
    grid-row: 5/6;
    align-self: start;
    display: block;
}

.name-dj-mix2{
    grid-column: 1/6;
    grid-row: 5/6;
    align-self: end;
    display: block;
}

.link-dj-mix1{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.1s;
}

.link-dj-mix2{
    color:grey;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.phone4{
    justify-self: end;
    align-self: start;
    grid-column: 5/6;
    grid-row: 5/6;
    color: #fff;
    font-size: 20px;
    transition: 0.3s;
}

.dpm1{
    background-image: url('./pic/dpm1.png');
}

.dpm2{
    background-image: url('./pic/dpm2.png');
}

.dpm3{
    background-image: url('./pic/dpm3.png');
}

.dpm4{
    background-image: url('./pic/dpm4.png');
}

.littl{
    font-size: 16px;
}

@keyframes mix {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-20deg);}
    50%{transform: rotate(0deg);}
    100%{transform: rotate(20deg);}
}

.dj-mix-sec:hover{
    .dj-mix-pic{
        opacity: 0.5;
        transform: translateY(-5px);
        cursor: pointer;
    }

    .link-dj-mix1{
        color: rgb(197, 0, 0);
        font-weight: bolder;
    }

    .phone4{
        animation-name: mix;
        animation-duration: 0.2s;
        animation-iteration-count: 10;
        color: rgb(197, 0, 0);
    }

    .btn-hover-play{
        visibility: visible;
        opacity: 1;
    }

}

/* footer */

.org-footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(8,1fr);
    height: 100%;
    height: 45vh;
}

.right-list{
    grid-row: 1/7;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(8 ,1fr);
    grid-template-rows: repeat(8,1fr);
}

.head-list{
    justify-self: start;
    grid-row: 1/2;
    grid-column:1/9;
    color: #fff;
    font-size: 16px;
}

.more-list{
    grid-column: 1/9;
    grid-row: 2/9;
    justify-self: start;
    position: relative;
    right: 32px;
    color:grey;
    font-size: 13px;
}

.item-more{
    line-height: 30px;
    list-style-type: none;
}

.left-list{
    grid-row: 1/6;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(8 ,1fr);
    grid-template-rows: repeat(8,1fr);
}

.item-more:hover{
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

.radio-javan-finish{
    grid-column: 1/6;
    grid-row: 7/9;
    border-top: 1px solid rgb(65, 65, 65);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1rf);
}

.fa-copyright{
    font-size: 10px;
}

.text-copyright{
    align-self: center;
    color: grey;
    grid-column: 1/2;
}

.text-copyright span{
    font-size: 13px;
}

.text-link-finish{
    align-self: center;
    grid-column: 2/4;
}

.text-link-finish a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
}

.text-link-finish a:hover{
    text-decoration: underline;
    color: #fff;
}

/* ////////fnish main bix///////// */

/* left bar */

.left-bar{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.main-left-bar{
    background-color: black;
    height: 100%; 
    position: fixed;
    width: 24.5%;
}

.left-pic{
    background-image: url('./pic/main-pic.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 10vh;
}

.left-menu-radio{
    position: absolute;
    top:12.2%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border-top: 1px solid rgb(56, 56, 56);
}

.btn-menu{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: transparent;
    border:0;
    color: #fff;
    transition: 0.2s;
}

.text-btn-menu{
    grid-column: 2/5;
    grid-row: 1/5;
    justify-self: start;
    align-self: center;
    color: rgb(175, 175, 175);
    transition: 0.2s;
}

.icon-menu{
    grid-column: 1/2;
    grid-row: 1/5;
    align-self: center;
    color: rgb(175, 175, 175);
    transition: 0.2s;
}

.btn-menu:hover{
    background-color:rgba(231, 231, 231, 0.11);
    .text-btn-menu{
        color: #fff;
    }

    .icon-menu{
        color: #fff;
    }
}

.bm1{
    grid-column: 1/4;
    grid-row: 1/2;
}

.bm2{
    grid-column: 1/4;
    grid-row: 2/3;
}

.bm3{
    grid-column: 1/4;
    grid-row: 3/4;
}

.bm4{
    grid-column: 1/4;
    grid-row: 4/5;
}

.download{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);   
}

.text-down{
    grid-column: 2/5;
    grid-row: 1/4;
    color: rgb(175, 175, 175);  
    justify-self: start;
    align-self: start;
}

.fa-circle-down{
    grid-column: 1/2;
    grid-row: 1/4;
    color: rgb(175, 175, 175);
    justify-self: center;
    align-self:  start;
    margin-top: 4px;
}


@media only screen and (max-width:755px) {
    .search-radio{
       width: 0; height: 0;
       visibility: 0;
       opacity: 0;
       display: none;
    }
}

@media only screen and (max-width:719px) {
    .left-bar{
        width: 0 !important;
        visibility: hidden;
        opacity: 0;
    }

    .main-left-bar{
        display: none;
    }

    .main-box-radio{
        width: 100% !important;
    
    }

    .main-all{
        padding: 0 25px 0 1px !important;
    }

    .search-radio-conatain{
        display: none;
    }

    .btn-res{
        visibility: visible;
        opacity: 1;
        grid-column: 1/2;
        width: 60%;
        background-image: url('./pic/three-line-horizontal-svgrepo-com.svg');
       background-position: center;
       background-repeat: no-repeat;
       background-size: contain;
    }

    .fa-search{
        grid-column: 2/3;
        justify-self: end;
        display: none;
    }


@media only screen and (max-width:700px) and (min-width:200px) {
    .playlist-pic,.exclusive-pic,.newmusic-pic,.dj-mix-pic{
        background-size: contain;   
    }

    .btn-hover-play{
        width: 25px; height: 25px;
        grid-row: 3/4;
        align-self: end;
    }

    .name-playlist-radio,.name-dj-mix1,.name-exclusive,.name-newmusic{
        align-self: end;
        grid-row: 4/5;
    }

    .link-dj-mix1,.link-exclusive,.link-newmusic,.name-playlist-radio a{
        font-size: 13px;
    }

    .littl{
        font-size: 12px;
    }

    .name-dj-mix2,.name-exclusive2{
        grid-row: 5/6;
        align-self: start;
    }

    .link-dj-mix2,.link-exclusive2{
        font-size: 13px;
    }

    .fa-headphones,.phone4{
        grid-row: 4/5;
        align-self: end;
    }
}

@media only screen and (max-width:370px) {
    .ps3,.ps4,.es3,.es4,.ns3,.ns4,.dms3,.dms4{
        position: relative;
        bottom: 60px;
    }

    .feutared-contain-radio,.new-music{
        position: relative;
        bottom: 55px;
    }

    .dj-mix{
        position: relative;
        bottom: 140px;
    }

    .footer-radio{
        position: relative;
        bottom: 230px;
    }
}







